Repository comworkio/social-bridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_x86, build_arm, deploy

.gitlab-ci.yml:

stages:
  - publish
  - deliver
  - deploy

mirror:
  stage: publish
  script:
    - setsid ./ci/mirror.sh
  only:
    - /^(main.*)$/
  tags:
    - mirror

build_x86:
  stage: deliver
  script:
    - setsid ./ci/docker-deliver.sh "x86" "twitter-slack" "2.6"
  only:
    refs:
      - /^(main.*)$/
    changes:
      - .gitlab-ci.yml
      - utils/*
      - main.py
      - requirements.txt
      - ci/docker-deliver.sh
      - ci/deploy.sh
      - ci/compute-env.sh
      - docker-compose-build-x86.yml
      - docker-compose-intra.yml
      - Dockerfile
  tags:
    - imagesbuilder

build_arm:
  stage: deliver
  script:
    - setsid ./ci/docker-deliver.sh "arm" "twitter-slack" "2.6"
  only:
    refs:
      - /^(main.*)$/
    changes:
      - .gitlab-ci.yml
      - utils/*
      - main.py
      - requirements.txt
      - ci/docker-deliver.sh
      - ci/deploy.sh
      - ci/compute-env.sh
      - docker-compose-build-arm.yml
      - docker-compose-intra.yml
      - Dockerfile.arm
  tags:
    - buildarm

deploy:
  stage: deploy
  script:
    - setsid ./ci/deploy.sh
  only:
    refs:
      - /^(main.*)$/
    changes:
      - .gitlab-ci.yml
      - utils/*
      - main.py
      - requirements.txt
      - ci/deploy.sh
      - ci/compute-env.sh
      - docker-compose-intra.yml
      - Dockerfile
  needs: 
    - build_x86
  tags:
    - twitter-slack

Missing environment variables
  ci/deploy.sh
Due: build_x86, build_arm, deploy

Invert username and message
  .gitlab-ci.yml
  routes/api_betteruptime.py
Due: build_x86, build_arm, deploy

Do not show empty params
  .gitlab-ci.yml
  routes/api_betteruptime.py
Due: build_x86, build_arm, deploy

Fix: discord channel matching
  .gitlab-ci.yml
  ci/compute-env.sh
  utils/slack.py
Due: build_x86, build_arm, deploy

Fix: discord channel
  .gitlab-ci.yml
  ci/compute-env.sh
  utils/slack.py
Due: build_x86, build_arm, deploy

Remove froggit from mirrors
  README.md
  ci/mirror.sh
Due: none

Fix: indent
  docker-compose-build-arm.yml
Due: build_arm

Update CI/CD triggers
  .gitlab-ci.yml
Due: build_x86, build_arm, deploy

Add domain
  ci/compute-env.sh
Due: build_x86, build_arm, deploy

Restart always
  docker-compose-intra.yml
Due: build_x86, build_arm, deploy

Complete switch to discord
  ci/compute-env.sh
  utils/common.py
  utils/logger.py
  utils/mastodon/read.py
  utils/notif.py
  utils/twitter/read.py
Due: build_x86, build_arm, deploy

Fix: import
  routes/api_betteruptime.py
Due: none

Fix: refactoring
  utils/logger.py
  utils/notif.py
Due: build_x86, build_arm, deploy

Improve slack and discord notif design
  routes/api_betteruptime.py
  utils/mastodon/read.py
  utils/notif.py
  utils/twitter/read.py
Due: build_x86, build_arm, deploy

Improve slack and discord notif design
  routes/api_betteruptime.py
Due: none

Bump version
  .gitlab-ci.yml
Due: build_x86, build_arm, deploy

Fix: start from 0
  .gitlab-ci.yml
  ci/compute-env.sh
  routes/api_betteruptime.py
  utils/notif.py
Due: build_x86, build_arm, deploy

Improve logs
  .gitlab-ci.yml
  ci/compute-env.sh
  utils/mastodon/read.py
  utils/notif.py
Due: build_x86, build_arm, deploy

Fix: remove code duplication and missing variables
  .gitlab-ci.yml
  ci/compute-env.sh
  utils/common.py
  utils/mastodon/read.py
  utils/notif.py
  utils/stream.py
  utils/uprodit.py
Due: build_x86, build_arm, deploy

Discord tokens
  ci/compute-env.sh
Due: build_x86, build_arm, deploy

Fix: attachments instead of attachments
  utils/notif.py
Due: build_x86, build_arm, deploy

Bump to 2.19
  .gitlab-ci.yml
Due: build_x86, build_arm, deploy

A list can start from 0
  .gitlab-ci.yml
  routes/api_betteruptime.py
  utils/config.py
  utils/notif.py
Due: build_x86, build_arm, deploy

Fix: list can start with 0 or 1
  .gitlab-ci.yml
  routes/api_betteruptime.py
  utils/config.py
  utils/notif.py
Due: build_x86, build_arm, deploy

Forget to increment
  .gitlab-ci.yml
  routes/api_betteruptime.py
  utils/config.py
  utils/notif.py
Due: build_x86, build_arm, deploy

Add custom url support
  .gitlab-ci.yml
  utils/notif.py
Due: build_x86, build_arm, deploy

Add variables CUSTOM_
  ci/deploy.sh
Due: build_x86, build_arm, deploy

Change mirrors
  README.md
Due: none

Update compute-env.sh
  ci/compute-env.sh
Due: build_x86, build_arm, deploy

Login before
  ci/docker-deliver.sh
Due: build_x86, build_arm

Update file docker-deliver.sh
  ci/docker-deliver.sh
Due: build_x86, build_arm

Move social bridge somewhere else
  .gitlab-ci.yml
  ci/deploy.sh
Due: build_x86, build_arm, deploy

Add missing dependancy
  requirements.txt
Due: build_x86, build_arm, deploy

Downgrade python
  Dockerfile
Due: build_x86, deploy

remove useless dependancy
  requirements.txt
Due: build_x86, build_arm, deploy
