Repository comworkio/social-bridge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_x86, build_arm, deploy

.gitlab-ci.yml:

stages:
  - publish
  - deliver
  - deploy

mirror:
  stage: publish
  script:
    - setsid ./ci/mirror.sh
  only:
    - /^(main.*)$/
  tags:
    - mirror

build_x86:
  stage: deliver
  script:
    - setsid ./ci/docker-deliver.sh "x86" "twitter-slack" "2.6"
  only:
    refs:
      - /^(main.*)$/
    changes:
      - .gitlab-ci.yml
      - utils/*
      - main.py
      - requirements.txt
      - ci/docker-deliver.sh
      - ci/deploy.sh
      - ci/compute-env.sh
      - docker-compose-build-x86.yml
      - docker-compose-intra.yml
      - Dockerfile
  tags:
    - imagesbuilder

build_arm:
  stage: deliver
  script:
    - setsid ./ci/docker-deliver.sh "arm" "twitter-slack" "2.6"
  only:
    refs:
      - /^(main.*)$/
    changes:
      - .gitlab-ci.yml
      - utils/*
      - main.py
      - requirements.txt
      - ci/docker-deliver.sh
      - ci/deploy.sh
      - ci/compute-env.sh
      - docker-compose-build-arm.yml
      - docker-compose-intra.yml
      - Dockerfile.arm
  tags:
    - buildarm

deploy:
  stage: deploy
  script:
    - setsid ./ci/deploy.sh
  only:
    refs:
      - /^(main.*)$/
    changes:
      - .gitlab-ci.yml
      - utils/*
      - main.py
      - requirements.txt
      - ci/deploy.sh
      - ci/compute-env.sh
      - docker-compose-intra.yml
      - Dockerfile
  needs: 
    - build_x86
  tags:
    - twitter-slack

Fix: rename function
  utils/twitter/read.py
Due: none

Fix: use completely tweepy instead of twittersearch
  utils/twitter/read.py
Due: none

Add TWITTER_BEARER_TOKEN variable
  .env.dist
Due: none

Avoid infinite loop
  .gitlab-ci.yml
  utils/mastodon/read.py
  utils/stream.py
  utils/twitter/read.py
Due: build_x86, build_arm, deploy

Mastodon cross
  ci/compute-env.sh
  ci/deploy.sh
  docker-compose-intra.yml
Due: build_x86, build_arm, deploy

Fix: name file
  ci/deploy.sh
Due: build_x86, build_arm, deploy

Fix: environment variables errors
  ci/compute-env.sh
  ci/deploy.sh
Due: build_x86, build_arm, deploy

Missing deployment variables
  ci/deploy.sh
Due: build_x86, build_arm, deploy

Update documentation
  README.md
Due: none

Change mirror keyword
  ci/compute-env.sh
Due: build_x86, build_arm, deploy

Renaming project social bridge
  .env.dist
  .gitlab-ci.yml
  README.md
  ci/compute-env.sh
  ci/deploy.sh
  ci/mirror.sh
  docker-compose-build-arm.yml
  docker-compose-build-x86.yml
  docker-compose-intra.yml
  docker-compose-local.yml
  main.py
Due: build_x86, build_arm, deploy

Replace the image
  img/tags.png
Due: none

Rename environment variable
  .env.dist
  .gitlab-ci.yml
  ci/compute-env.sh
  ci/deploy.sh
  ci/docker-deliver.sh
  docker-compose-intra.yml
  main.py
Due: build_x86, build_arm, deploy

Missing environment variable
  ci/deploy.sh
Due: build_x86, build_arm, deploy

Fix: avoid retweet, retoot of publish message from another account
  .gitlab-ci.yml
  utils/common.py
  utils/mastodon/read.py
  utils/mastodon/write.py
  utils/twitter/read.py
  utils/twitter/write.py
  utils/uprodit.py
Due: build_x86, build_arm, deploy

Improve README
  .env.dist
  README.md
Due: none

Improve README
  README.md
Due: none

Use mastodon as primary source
  ci/compute-env.sh
  ci/deploy.sh
  docker-compose-intra.yml
Due: build_x86, build_arm, deploy

Fix volume syntax
  docker-compose-intra.yml
Due: build_x86, build_arm, deploy

Add logo
  README.md
  img/logo.png
Due: none

Add try/except on tweet method
  .gitlab-ci.yml
  utils/twitter/write.py
Due: build_x86, build_arm, deploy

Fix: mastodon read more resilient
  .gitlab-ci.yml
  utils/mastodon/read.py
Due: build_x86, build_arm, deploy

Do not fail when slack is failing
  .gitlab-ci.yml
  utils/slack.py
Due: build_x86, build_arm, deploy

Add restful endpoints for a better monitoring
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.arm
  api.py
  docker-compose-intra.yml
  docker-compose-local.yml
  main.py
  manifest.json
  requirements.txt
  routes/api_manifest.py
  routes/api_root.py
  utils/bridge.py
Due: build_x86, build_arm, deploy

Fix: async process
  api.py
  utils/bridge.py
Due: build_x86, build_arm, deploy

Improve documentation
  README.md
  docker-compose-local.yml
Due: none

Add API betteruptime
  .gitlab-ci.yml
  api.py
  routes/api_betteruptime.py
  utils/slack.py
Due: build_x86, build_arm, deploy

Improve documentation and betteruptime endpoint
  Dockerfile
  README.md
  routes/api_betteruptime.py
Due: build_x86, deploy

Add a match list
  .gitlab-ci.yml
  ci/compute-env.sh
  ci/deploy.sh
  routes/api_betteruptime.py
Due: build_x86, build_arm, deploy

Add prod channel
  ci/compute-env.sh
Due: build_x86, build_arm, deploy

Default prod username
  .gitlab-ci.yml
  routes/api_betteruptime.py
Due: build_x86, build_arm, deploy

Fix: bad environment variable
  .gitlab-ci.yml
  routes/api_betteruptime.py
  utils/slack.py
Due: build_x86, build_arm, deploy

Change default value
  .gitlab-ci.yml
  routes/api_betteruptime.py
Due: build_x86, build_arm, deploy

Add authentication
  ci/deploy.sh
  routes/api_betteruptime.py
Due: build_x86, build_arm, deploy

Fix: attributes key betteruptime
  .gitlab-ci.yml
  routes/api_betteruptime.py
Due: build_x86, build_arm, deploy

Improve dynamic args
  .gitlab-ci.yml
  ci/compute-env.sh
  routes/api_betteruptime.py
Due: build_x86, build_arm, deploy
